* {
    padding: 0;
    margin: 0;
}

.main-box {
    background-image: url('../../assets/background.png');
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    padding: 5%;
  }

